<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Bird Tracker App</h1>
    <p>New Bird Just Created Successfully!</p>
    <br></br>
    <a href="/birds/create" class="btn btn-primary">Go Back</a>
  </body>
</html>
